<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <p>
      <%= image_tag @user.avatar, width: 50 %>
      <%= @user.username %>
    </p>

    <%= link_to 'Edit', edit_user_registration_path %> |
    <%= link_to 'Back', users_path %>
  </div>

  <div class="col-md-6">
    <h2>Followers</h2>
    <ul>
      <% @user.followers.each do |user| %>
        <li><%= user.username %></li>
      <% end %>
    </ul>

    <h2>Following</h2>
    <ul>
      <% @user.following.each do |user| %>
        <li><%= user.username %></li>
      <% end %>
    </ul>

    <h2>Feed</h2>
    <ul>
      <% @user.feed.each do |picture| %>
        <li><%= image_tag picture.image, width: 200 %></li>
      <% end %>
    </ul>
  </div>
</div>
