<%= form_for(@follow) do |f| %>
  <% if @follow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
      <% @follow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :follower_id %><br>
    <%= f.collection_select :follower_id, User.all, :id, :username %>
  </div>
  <div class="field">
    <%= f.label :followee_id %><br>
    <%= f.collection_select :followee_id, User.all, :id, :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
